<!--<app-list></app-list>-->
<!--<app-parent></app-parent>-->
<!--<drag-drop-->
<!--[current]="images"-->
<!--[limit]="50"-->
<!--[colorShadow]="'#23d4c8'"-->
<!--[maxSizePerFile]="1"-->
<!--(filesDropped)="getFiles($event)"-->
<!--(filesCurrent)="getCurrentFiles($event)"-->
<!--&gt;</drag-drop>-->
 <drag-drop (filesDropped)="getFiles($event)" [showImages]="false"></drag-drop>
<button class="btn btn-primary" (click)="onSumbit()">Enviar</button>
<button class="btn btn-primary" (click)="sendFotos()">Enviar Fotos</button>
<button (click)="downloadFile()">Download</button>

<!--Iconos de carga css puro-->
<!--<div class="container" style="display: inline-flex">-->

<!--  <div class="lds-circle"><div></div></div>-->
<!--  <div class="lds-dual-ring"></div>-->
<!--  <div class="lds-facebook"><div></div><div></div><div></div></div>-->
<!--  <div class="lds-heart"><div></div></div>-->
<!--  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>-->
<!--  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
<!--  <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
<!--  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>-->
<!--  <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
<!--  <div class="lds-hourglass"></div>-->
<!--  <div class="lds-ripple"><div></div><div></div></div>-->
<!--  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->


<!--</div>-->
<!-- <py-env>
  - numpy
  - matplotlib
  - paths:
    - ./assets/data.py
</py-env>
<h1>comp</h1>
<div id="plot"></div>
<py-script output="plot">
  import matplotlib.pyplot as plt
  from data import make_x_and_y

  x, y = make_x_and_y(n=500)

  fig, ax = plt.subplots()
  ax.scatter(x, y)
  fig
</py-script> -->
