<drag-drop
[current]="['https://cdn.pixabay.com/photo/2022/05/05/20/01/australian-shepherd-7176981_960_720.jpg',
            'https://cdn.pixabay.com/photo/2021/11/17/19/47/balloons-6804504_960_720.jpg',
            'https://cdn.pixabay.com/photo/2021/12/15/04/21/skyscraper-6871750_960_720.jpg',
            'https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_960_720.jpg',
            'https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_960_720.jpg',
            'https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg',
            'https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg',
            ]"></drag-drop>
<!-- <drag-drop></drag-drop> -->
