<div *ngIf="isValidInitialData() else hola" class="container">
    <div DragDrop (over)="isOver=$event" (files)="getFiles($event)" class="drop-zone"
         [ngClass]="{'dragover': isOver ,'dragleave': !isOver}" [style]="'--color-shadow:' + colorShadow"
         (click)="file.click()">
        <div>
            <h1>Arrastra aquí</h1>
        </div>
        <div>
            <h1>ó</h1>
        </div>
        <input #file type="file" [multiple]="limit>1" (input)="getFiles($event)" hidden>
        <img style="width: 15%" src="assets/up_arrow.gif" alt="">
        <div>
            <h1>Elige aquí</h1>
        </div>
    </div>
    <div *ngIf="showImages" class="gallery">
        <div class="text-empty">
      <span *ngIf="currentFiles.length==0 && filesBase64.length==0 && showEmptyImages">No hay imágenes por
        mostrar.</span>
        </div>
        <div *ngFor="let file of currentFiles;let i = index;" class="image-container">
            <div *ngIf="canDelete" class="delete">
                <mat-icon (click)="deleteImage(i, 'current')">clear</mat-icon>
            </div>
            <img [id]="'img'+i" [src]="file | blobsafe" alt="">
        </div>
        <div *ngFor="let file of filesBase64;let i = index;" class="image-container">
            <div *ngIf="canDelete" class="delete">
                <mat-icon (click)="deleteImage(i, 'temp')">clear</mat-icon>
            </div>
            <img [src]="file" alt="">
        </div>
    </div>
</div>

<ng-template #hola>
    <div class="container">
        <h1 class="no-display">
            <p>Algo salió mal</p>
            <p>No se puede visualizar el componente.</p>
        </h1>
    </div>
</ng-template>
